@model OnlineShoppingStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@item.Name</strong>
            <span class="pull-right label label-primary">@item.Price.ToString("c")</span>
        </h3>
        <span class="lead">@item.Description</span>
    </div>
}
<div>

    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))

</div>
